<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>flyAway-webApp</display-name>
	<servlet>
		<servlet-name>indexController</servlet-name>
		<servlet-class>com.project.controller.indexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexController</servlet-name>
		<url-pattern>/indexController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>personalDetailsController</servlet-name>
		<servlet-class>com.project.controller.personalDetailsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>personalDetailsController</servlet-name>
		<url-pattern>/personalDetailsController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginController</servlet-name>
		<servlet-class>com.project.controller.loginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginController</servlet-name>
		<url-pattern>/loginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminController</servlet-name>
		<servlet-class>com.project.controller.adminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminController</servlet-name>
		<url-pattern>/adminController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>changePasswordController</servlet-name>
		<servlet-class>com.project.controller.changePasswordController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>airlineListController</display-name>
		<servlet-name>airlineListController</servlet-name>
		<servlet-class>com.project.controller.airlineListController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>flightListController</display-name>
		<servlet-name>flightListController</servlet-name>
		<servlet-class>com.project.controller.flightListController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>sourceAndDestinationController</display-name>
		<servlet-name>sourceAndDestinationController</servlet-name>
		<servlet-class>com.project.controller.sourceAndDestinationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changePasswordController</servlet-name>
		<url-pattern>/changePasswordController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>airlineListController</servlet-name>
		<url-pattern>/airlineListController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>flightListController</servlet-name>
		<url-pattern>/flightListController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sourceAndDestinationController</servlet-name>
		<url-pattern>/sourceAndDestinationController</url-pattern>
	</servlet-mapping>
</web-app>